<header id="header">

	<div id="avatar">
	<img class="avater" src="assets/css/socialicious/svg/C4F0D6EDA8123B1.pNg">
	</div>

	<h1><span>Gabe Deko</span></h1>

	<hr></hr>
	
	<div class="icons">
	<a href="https://www.linkedin.com/in/gabedeko"><img width="60" id="icon-linkedin" src="/assets/css/socialicious/svg/icon_linkedin.svg"></a>
	<a href="https://github.com/gabedeko"><img width="60" id="icon-github" src="assets/css/socialicious/svg/icon_github.svg"></a>
	<a href="https://soundcloud.com/gabed123"><img width="60" id="icon-soundcloud" src="/assets/css/socialicious/svg/icon_soundcloud.svg"></a>
	<a href="http://lamenigga1992.tumblr.com/"><img width="60" id="icon-tumblr" src="/assets/css/socialicious/svg/icon_tumblr.svg"></a>
	<a href="https://www.goodreads.com/user/show/31612536-gabe"><img width="60" id="icon-goodreads" src="/assets/css/socialicious/svg/icon_goodreads.svg"></a>
	</div>
	
	<!--<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/work/">Work</a></li>
	    <li><a href="/clients/">Clients</a></li>
	    <li><a href="/contact/">Contact</a></li>
	</ul> -->

</header>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>